@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


body {
    font-family: 'Inter', sans-serif;
    /* font-family: 'JetBrains Mono', monospace; */
}

html {
    scroll-behavior: smooth;
}



#intro {
    color: rgb(255, 255, 255);
    
    min-height: 100vh;
    
    background: rgba(0, 0, 0, 0.7) url('../images/house.jpg');
    background-blend-mode: darken;
    background-position: center;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

#intro #title {
    font-size: 5rem;
    font-weight: bold;
}

#intro #description {
    font-size: 2rem;
}

#all-houses-button {
    margin-top: 4em;
    text-decoration: none;
    color: rgb(45, 45, 45);
    background-color: white;
    padding: 1em;
    border-radius: 1em;
    font-weight: bold;
    
}


#house-container {
    box-shadow: 0 15px 30px 1px grey;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    overflow: hidden;
    margin: 5em auto;
    height: 25em;
    width: 60em;

    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

#information-container {
    padding: 3em;
    margin-left: auto;
    margin-right: auto;
}

#all-houses {
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: space-evenly;
    gap: 3em;
}

#address {
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
}

#location {
    text-align: center;
    font-style: italic;
    font-size: 1.5rem;

    padding-bottom: 5rem;
}



#rooms-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* align-items: center; */
    font-size: 1.5rem;
    gap: 1em;
    margin-bottom: 2em;
}

#price {
    font-size: 1.75rem;
}



#image {
    font-size: 5rem;
    width: 6em;

    background-color: black;

}